html {
  font-family: "vag_roundedregular";
  /* font-family: "Baloo"; */
  font-weight:300;
}
.container {
    max-width:1440px;
    margin:0 auto;
    padding:0 5vw;
}
.wrapper{
  padding-top:3rem;
  padding-bottom:3rem;
}
.selectStyle{
  width: 100%;
  padding: 1rem;
  color: #FF007C;
  border: 1px solid #FF007C;
}
@keyframes example {
  from {
    /* background-color: white; */
    background-color:#a03367;
    /* opacity: .5; */
    /* color:#FF007C */
  }
  to {
    /* opacity: 1; */
    background-color:#FF007C;
    /* color:white; */
  }
}