@font-face {
  font-family: "vag_roundedregular";
  src: url("../fonts/vag-rounded-webfont.woff2") format("woff2"),
    url("../fonts/vag-rounded-webfont.woff") format("woff"),
    url("../fonts/vag-rounded-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "vag_roundedregular";
  src: url("../fonts/vagroundedbt-regular-webfont.woff2") format("woff2"),
    url("../fonts/vagroundedbt-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'vag_roundedregular';
  src: url('../fonts/VAGRoundedStd-Light.woff2') format('woff2'),
      url('../fonts/VAGRoundedStd-Light.woff') format('woff'),
      url('../fonts/VAGRoundedStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baloo';
  src: url('../fonts/Baloo.woff2') format('woff2'),
      url('../fonts/Baloo.woff') format('woff'),
      url('../fonts/Baloo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
